<div class="axdd-purple py-4">
 <div class="container text-white">
    <ul class="list-unstyled d-flex flex-wrap justify-content-center">
      <li class="mr-3 text-nowrap"><a href="mailto:help@uw.edu?subject=UW Mailman Help" class="text-white">Contact Us</a></li>
      <li class="mr-3 text-nowrap"><a href="https://itconnect.uw.edu/connect/email/resources/mailman/" class="text-white">UW Mailman Help</a></li>
      <li class="mr-3 text-nowrap"><a href="https://www.washington.edu/accessibility/" class="text-white">Accessibility</a></li>
      <li class="mr-3 text-nowrap"><a href="http://www.washington.edu/online/privacy/" class="text-white">Privacy</a></li>
      <li class="text-nowrap"><a href="http://www.washington.edu/online/terms/" class="text-white">Terms</a></li>
    </ul>
    <div class="text-center">&copy; 2021 Universty of Washington</div>
  </div>
</div>