{% load i18n %}
{% load compress %}
{% load static %}
{% load hk_generic %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="ROBOTS" content="INDEX, FOLLOW" />
        <title>{% block head_title %}{{ site_name }}{% endblock %}</title>
        <meta name="author" content="" />
        <meta name="dc.language" content="en" />
        <link rel="shortcut icon" href="{% static 'hyperkitty/img/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'hyperkitty/libs/jquery/smoothness/jquery-ui-1.10.3.custom.min.css' %}" type="text/css" media="all" />
        <!--<link rel="stylesheet" href="{% static 'hyperkitty/libs/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="all" />-->
        
         <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <!-- bootstrap 5.1 + bootstrap icons -->
        <!--<link rel="stylesheet" href="{% static 'postorius/libs/bootstrap/css/bootstrap.min.css' %}">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">-->

        {% compress css %}
        <link rel="stylesheet" href="{% static 'hyperkitty/libs/fonts/icomoon/icomoon.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'hyperkitty/libs/fonts/droid/droid.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'django-mailman3/css/main.css' %}" />
        <!--<link rel="stylesheet" type="text/x-scss" media="all" href="{% static 'hyperkitty/sass/hyperkitty.scss' %}" />-->
        {% endcompress %}
        {% block additional_stylesheets %}
        <link rel="stylesheet" href="{% static 'uwtheme/css/theme.css' %}">
        {% endblock %}
        {% block head_feed %}{% endblock %}
        {% include 'hyperkitty/headers.html' %}
    </head>

    <body>

    <div class="d-flex align-items-end flex-column" style="min-height: 100vh">

    {% include 'hyperkitty/top.html' %}

    <header class="w-100">
        <div class="py-2 small" style="background-color: #452a78!important;">
            <div class="container-xl">
                <div class="d-flex">
                    <div class="flex-fill">
                        <ul class="list-inline list-unstyled m-0">
                            {% if user.is_authenticated %}
                            <li class="list-inline-item">
                                <i class="bi bi-person-fill text-white me-1"></i>
                                <a href="#" class="dropdown-toggle text-white" id="loginDropdownMenu" data-bs-toggle="dropdown"
                            role="button" aria-expanded="false">
                                <span>{{ user.username|truncatechars:"35" }}</span></a>
                                <div class="dropdown-menu" aria-labelledby="loginDropdownMenu">
                                    <a role="menuitem" tabindex="-1" class="dropdown-item" href="{% url 'mm_user_profile' %}">
                                        <i class="bi bi-person-fill me-1"></i>
                                        {% trans 'Account' %}
                                    </a>
                                    {% if 'postorius' in INSTALLED_APPS %}
                                    <a role="menuitem" tabindex="-1" class="dropdown-item" href="{% url 'ps_user_profile' %}">
                                        <i class="bi bi-gear-fill me-1"></i>
                                        {% trans 'Mailman settings' %}
                                    </a>
                                    {% endif %}
                                    <a role="menuitem" tabindex="-1" class="dropdown-item" href="{% url 'hk_user_profile' %}">
                                        <i class="bi bi-chat-fill me-1"></i>
                                        {% trans 'Posting activity' %}
                                    </a>
                                    <!--
                                    <a role="menuitem" tabindex="-1" class="dropdown-item" href="{% url LOGOUT_URL %}?next={% url 'hk_root' %}">
                                        <span class="fa fa-sign-out"></span>{% trans "Logout" %}
                                    </a>-->
                                </div>
                            </li>
                            {% else %}
                            <li class="list-inline-item">
                                <i class="bi bi-box-arrow-in-right text-white me-1"></i>
                                <a class="text-white" role="menuitem" tabindex="-1" href="{% url LOGIN_URL %}?next={{next|default:request.path|urlencode}}">
                                    {% trans "Sign In" %}
                                </a>
                            </li>
                            <!--<li class="list-inline-item">
                            <a role="menuitem" tabindex="-1" href="{% url 'account_signup' %}?next={{next|default:request.path|urlencode}}">
                                <span class="fa fa-user-plus"></span>
                                {% trans "Sign Up" %}
                            </a></li>-->
                            {% endif %}
                        </ul>
                    </div>
                    <div class="flex-fill text-end">
                        {% if 'postorius' in INSTALLED_APPS %}
                        <ul class="list-inline list-unstyled m-0">
                            
                            {% if user.is_superuser %}
                            <li class="list-inline-item">
                                <i class="bi bi-envelope-fill text-white me-1"></i>
                                <a href="#" class="dropdown-toggle text-white" data-bs-toggle="dropdown"
                                    role="button" id="dropdownMenuButton2" aria-expanded="false">
                                    {% trans 'Lists' %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                                    <a href="{% url 'list_index' %}" class="dropdown-item">
                                    <i class="bi bi-envelope-fill me-1"></i>
                                        {% trans 'All Lists' %}
                                    </a>
                                    <a href="{% url 'domain_index' %}" class="dropdown-item">
                                    <i class="bi bi-globe2 me-1"></i>
                                    {% trans 'Domains' %}
                                    </a>
                                    <a href="{% url 'global_bans' %}" class="dropdown-item">
                                    <i class="bi bi-hand-thumbs-down-fill me-1"></i>
                                        {% trans 'Bans' %}
                                    </a>
                                    <a href="{% url 'system_information' %}" class="dropdown-item">
                                    <i class="bi bi-card-list me-1"></i>
                                        {% trans 'System Information' %}
                                    </a>
                                </div>
                            </li>
                            {% else %}
                            <li class="list-inline-item">
                                <i class="bi bi-envelope-fill text-white me-1"></i>
                                <a href="{% url 'list_index' %}" class="text-white">
                                    {% trans 'Lists' %}
                                </a>
                            </li>
                            {% endif %}
                
                            {% if 'hyperkitty' in INSTALLED_APPS %}
                            <li class="list-inline-item">
                                <i class="bi bi-chat-fill text-white me-1"></i>
                                <a href="{% url 'hk_root' %}" class="text-white">
                                    {% trans 'Archives' %}
                                </a>
                            </li>
                            {% endif %}
                             {% if user.is_authenticated %}
                            <li class="list-inline-item">
                                <i class="bi bi-box-arrow-in-right text-white me-1"></i>
                                <a role="menuitem" tabindex="-1" class="text-white" href="{% url LOGOUT_URL %}?next={% url 'hk_root' %}">
                                {% trans "Sign out" %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div style="line-height:65px; background-color: #4d307f!important">
            <div class="container-xl" style="background-image: url('{% static '/uwtheme/images/w-logo-white.png' %}'); background-repeat: no-repeat;
background-size: 45px;
background-position: right 20px bottom;">
                <div class="d-inline align-middle text-white h3">
                    <a href="{% url 'list_index' %}" class="text-white text-decoration-none">Mailman</a>
                </div>
            </div>
        </div>
    </header>
    <!-- no need for top list search 
    <div class="w-100">
        <div class="container">
      <form name="search" method="get" action="{% url 'hk_search' %}" class="navbar-form navbar-right my-2 my-lg-2 order-1" role="search">
            {% if mlist %}<input type="hidden" name="mlist" value="{{ mlist.name }}" />{% endif %}
                <div class="input-group">
                    <input name="q" type="text" class="form-control"
                            placeholder="{% if mlist %}{% trans 'Search this list' %}{% else %}{% trans 'Search all lists' %}{% endif %}"
                            {% if query %}value="{{ query }}"{% endif %}
                            />
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
        </form>
        </div>
    </div>-->

     <div class="w-100">
        <div class="container-xl">
            
            <main class="mt-3">

    {% if messages %}
    <div class="flashmsgs">
    {% for msg in messages %}
        <div class="flashmsg-wrapper">
            <!--<div class="alert alert-{{ msg.level_tag }}">-->
            <div role="alert" class="alert alert-{{ msg.tags }} {{msg.tags}}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                ">
                {% else %}
                alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% endif %}
                {{ msg }}
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}

    
     <!--<div class="modal fade" tabindex="-1" role="dialog" id="keyboard-shortcuts">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">{% trans "Keyboard Shortcuts" %}</h4>
           </div>
           <div class="modal-body">
             <h3>{% trans "Thread View" %}</h3>
             <ul>
               <li><code>j</code>: {% trans "Next unread message" %} </li>
               <li><code>k</code>: {% trans "Previous unread message" %} </li>
               <li><code>j a</code>: {% trans "Jump to all threads" %}
               <li><code>j l</code>: {% trans "Jump to MailingList overview" %}
             </ul>
           </div>
         </div>
       </div
     </div>-->


    {% block content %} {% endblock %}
  
    </main>
    </div>
    </div>

    <footer class="w-100 mt-auto">
        <div class="bg-dark">
            <div class="container-xl py-3 small">
                <div class="text-white font-weight-light">

                <ul class="list-inline list-unstyled m-0">
                    <li class="list-inline-item text-nowrap"><a href="mailto:help@uw.edu?subject=UW Mailman Help" class="text-white">Contact Us</a></li>
                    <li class="list-inline-item text-nowrap"><a href="https://itconnect.uw.edu/connect/email/resources/mailman/" class="text-white">UW Mailman Help</a></li>
                    <li class="list-inline-item text-nowrap"><a href="https://www.washington.edu/accessibility/" class="text-white">Accessibility</a></li>
                    <li class="list-inline-item text-nowrap"><a href="http://www.washington.edu/online/privacy/" class="text-white">Privacy</a></li>
                    <li class="list-inline-item text-nowrap"><a href="http://www.washington.edu/online/terms/" class="text-white">Terms</a></li>
                </ul>

                <p>Copyright &copy; 2021 University of
                    Washington</p>

                <div class="small text-muted">{% trans 'Archives powered by' %} <a href="https://hyperkitty.readthedocs.org">{% trans 'Hyperkitty' %}</a> {% trans 'version' %} {{ HYPERKITTY_VERSION }}</div>
                
                </div>
            </div>
        </div>
    </footer>
    </div>

    <script src="{% static 'hyperkitty/libs/jquery/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'hyperkitty/libs/jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>

    <!-- bootstrap 5.1.1 bundle + popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    {% compress js %}
    <!--<script type="text/javascript" src="{% static 'hyperkitty/libs/popper/popper.min.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/bootstrap/javascripts/bootstrap.min.js' %}" />-->
    <script type="text/javascript" src="{% static 'hyperkitty/libs/mousetrap/mousetrap.min.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/jquery.expander.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/d3.v2.min.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/jquery.hotkeys.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-common.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-index.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-overview.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-thread.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-userprofile.js' %}" />
    {% endcompress %}
    {% block additionaljs %} {% endblock %}

    {% include 'hyperkitty/bottom.html' %}

    </body>
</html>