<script type="text/javascript">
(function () {
    var $signon_link = $('a.nav-link span.fa-sign-in').parent();

    if ($signon_link.length) {
        $signon_link.replaceWith(
          '<div class="btn-group">' +
              '<button type="button" role="button" class="dropdown-toggle btn" data-bs-toggle="dropdown" aria-haspopup="true" style="color: white;">' +
                '<span class="fa fa-sign-in"></span> Sign In' +
              '</button>' +
              '<ul class="dropdown-menu" role="menu">' +
                  '<li class="dropdown-item">' +
                      '<a class="dropdown-item" href="{% url LOGIN_URL %}?next={{ next|default:request.path|urlencode }}">UW Login</a>' +
                  '</li>' +
                  '<li class="dropdown-item">' +
                      '<a class="dropdown-item" href="/accounts/login/?next={{ next|default:request.path|urlencode }}">Guest Sign In</a>' +
                  '</li>' +
              '</ul>' +
          '</div>');
    }
}());
</script>


