{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load hk_generic %}
{% load pagination %}
{% load static %}


{% block head_title %}
{% trans 'Archives' %} - {{ block.super }}
{% endblock %}

{% block content %}

<div class="all-lists">

<div class="d-flex justify-content-between align-items-end mb-3">
   
    <h1 class="m-0 border-bottom flex-fill">
        {% trans 'Archives' %}
    </h1>

   <div class="">
    <div class="sort-mode d-flex justify-content-end">
        <!-- OVERRIDE: convert custom tabs to use default bootstrap -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if sort_mode == "popular" %}active{% endif %}" href="{% url 'hk_root' %}?{% add_to_query_string "sort" "popular" %}"
                   data-toggle="tooltip" data-placement="bottom"
                   title="{% trans 'Sort by number of recent participants' %}"
                   >{% trans 'Most popular' %}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if sort_mode == "active" %}active{% endif %}" href="{% url 'hk_root' %}?{% add_to_query_string "sort" "active" %}"
                  data-toggle="tooltip" data-placement="bottom"
                  title="{% trans 'Sort by number of recent discussions' %}"
                  >{% trans 'Most active' %}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if sort_mode == "name" %}active{% endif %}" href="{% url 'hk_root' %}?{% add_to_query_string "sort" "name" %}"
                  data-toggle="tooltip" data-placement="bottom"
                  title="{% trans 'Sort alphabetically' %}"
                  >{% trans 'By name' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if sort_mode == "creation" %}active{% endif %}" href="{% url 'hk_root' %}?{% add_to_query_string "sort" "creation" %}"
                   data-toggle="tooltip" data-placement="bottom"
                   title="{% trans 'Sort by list creation date' %}"
                   >{% trans 'Newest' %}</a>
            </li>
        </ul>

    </div>
    </div>
</div> <!--/row, for title & header -->

<div class="row mb-3">
    <div class="col-12 col-sm-7 col-md-8">
            {% if all_lists %}
            <div class="hide-switches">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="inactive" {% if show_inactive %}checked="checked"{% endif %}>
                    <label class="form-check-label" for="inlineCheckbox1">{% trans "Hide inactive" %}</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="private">
                    <label class="form-check-label" for="inlineCheckbox2">{% trans "Hide private" %}</label>
                </div>
            </div>
            {% endif %}
    </div>
    <div class="col-12 col-sm-5 col-md-4">
        <form method="get" action="">
            <input name="name" type="text" class="form-control" id="focusedInput"
                   placeholder="{% trans 'Find list' %}"
                   />
        </form>
    </div>
</div> <!--/row, for switches & filter -->

<div class="row">
    <div class="col-sm-12">
        {% if all_lists %}
        <div class="table-responsive">
        <table class="lists table table-bordered table-striped">
            <!-- headings only shown in screens >= 480px -->
            <thead class="d-xs-none">
                <tr>
                    <th class="">{% trans 'List' %}</th>
                    <th class="d-none d-md-table-cell">{% trans 'Description' %}</th>
                    <th class="" colspan=2>{% trans 'Activity in the past 30 days' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for mlist in all_lists %}
                <tr class="list
                   {% if mlist.is_private %}
                   private
                   {% elif mlist.recent_threads_count == 0 %}
                   inactive
                   {% endif %}
                   "
                   data-list-name="{{ mlist.name }}">
                    <!-- tiny/xsmall screens have 1 column, small screens have 2 columns, med/large screen have 3 columns -->
                    <td>
                        {% ifchanged mlist.name|first %}<a name="{{ mlist.name|first }}" />{% endifchanged %}
                        {% if mlist.is_new %}
                        <span class="new badge bg-secondary">{% trans 'new' %}</span>
                        {% endif %}
                         <a href="{% url 'hk_list_overview' mlist_fqdn=mlist.name %}"
                            class="list-name">
                             {% if mlist.display_name %}
                                 {{ mlist.display_name }}
                             {% else %}
                                 {{ mlist.name|until:"@" }}
                             {% endif %}
                         </a>
                        {% if mlist.is_private %}
                        <span class="list-tags">{% trans "private" %}</span>
                        {% elif mlist.recent_threads_count == 0 %}
                        <span class="list-tags">{% trans "inactive" %}</span>
                        {% endif %}
                        <br />
                        <span class="list-address">
                            {{ mlist.name }}
                        </span>
                    </td>
                    <td class="list-description d-none d-md-table-cell">
                        {{ mlist.description|default_if_none:"" }}
                    </td>
                    <td class="statistics">
                        <ul class="list-stats list-unstyled">
                            <li>
                                <i class="fa fa-user"></i>
                                {{ mlist.recent_participants_count|default_if_none:"..." }}
                                {% trans 'participants' %}
                            </li>
                            <li>
                                <i class="fa fa-comments"></i>
                                {{ mlist.recent_threads_count|default_if_none:"..." }}
                                {% trans 'discussions' %}
                            </li>
                        </ul>
                    </td>
                    <td class="activity">
                        <div class="chart">
                            <img alt="{% trans 'Loading...' %}" class="ajaxloader" src="{% static 'hyperkitty/img/ajax-loader.gif' %}" />
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table> <!-- /table, main-content -->
        </div>
        {% else %}
        <p>{% trans "No archived list yet." %}</p>
        {% endif %}

    </div> <!-- /container for table -->

</div> <!-- /row, for lists -->

{% paginator all_lists %}

</div> <!-- /all-lists, outer-wrapper -->

{% endblock %}

{% block additionaljs %}

<script>
    $(function() {
        setup_index("{% url 'hk_list_recent_activity' 'PLACEHOLDER@PLACEHOLDER' %}");
    });
</script>

{% endblock %}